name: Metrics

on:
  schedule: [{cron: "0 */6 * * *"}]
  push:
    branches: ["main", "master"]
    # LỆNH FIX LỖI VÒNG LẶP: Bỏ qua commit thay đổi file metrics.svg
    paths-ignore:
      - 'metrics.svg'
      - '.github/workflows/**' 

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: dokhacgiakhoa
          token: ${{ secrets.GITHUB_TOKEN }}
          output_filename: metrics.svg
          
          plugins_core: yes
          plugins_languages: yes
          plugins_isocalendar: yes
          
          config_theme: dark
