name: GitHub Metrics

on:
  schedule: [{cron: "0 */6 * * *"}]
  push: {branches: ["main", "master"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: dokhacgiakhoa
          token: ${{ secrets.GITHUB_TOKEN }}
          output_filename: metrics.svg
          
          # Chỉ bật các plugin cơ bản
          plugins_categories: yes 
          plugins_languages: yes 
          plugins_introduction: yes 

          # Sử dụng theme có sẵn (Không tùy chỉnh config_vars hay config_order)
          config_theme: dark
