name: Update Streak Stats

on:
  schedule:
    - cron: "0 */4 * * *" # Chạy mỗi 4 tiếng
  workflow_dispatch:      # Cho phép chạy thủ công

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate Streak Stats
        uses: DenverCoder1/github-readme-streak-stats@v2
        with:
          github_token: ${{ secrets.GH_TOKEN }} # Cần add secret này vào Repo
          user: dokhacgiakhoa
          output_path: github-streak-stats.svg
          
          # Cấu hình giao diện (Emerald Tech)
          theme: dark
          hide_border: true
          background: "0d1117"
          ring: "20E3B2"
          fire: "20E3B2"
          currStreakNum: "c9d1d9"
          sideNums: "c9d1d9"
          currStreakLabel: "20E3B2"
          sideLabels: "20E3B2"
          dates: "c9d1d9"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Streak Stats SVG
          file_pattern: github-streak-stats.svg
