name: Update Streak Stats

on:
  schedule:
    - cron: "0 */4 * * *" # Chạy 4 tiếng/lần
  workflow_dispatch:      # Chạy thủ công
  push:                   # Tự chạy khi có code mới đẩy lên main
    branches:
      - main

jobs:
  download-streak:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Download Streak Image
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          curl -o github-streak-stats.svg "https://streak-stats.demolab.com/?user=dokhacgiakhoa&theme=dark&hide_border=true&ring=20E3B2&fire=20E3B2&currStreakNum=c9d1d9&sideNums=c9d1d9&currStreakLabel=20E3B2&sideLabels=20E3B2&dates=c9d1d9&background=0d1117&token=$GH_TOKEN"

      - name: Commit & Push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Streak Stats SVG
          file_pattern: github-streak-stats.svg
